<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">

    <!-- Root Logger -->
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="ConsoleAppender" />
        </Root>

        <!-- Logger for HikariCP -->
        <Logger name="com.zaxxer" level="WARN" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Logger>

        <!-- Logger for Testcontainers -->
        <Logger name="org.testcontainers" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>

        <!-- Logger for Postrise -->
        <Logger name="org.adonix" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Logger>
    </Loggers>

    <!-- Appenders -->
    <Appenders>
        <!-- Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
        </Console>

        <!-- File Appender -->
        <File name="FileAppender" fileName="./src/test/log/postrise.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
        </File>
    </Appenders>

</Configuration>
